<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
 <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
 <link rel="stylesheet" type="text/css" href="/static/css/image.css" />
 <link rel="icon" type="image/png" href="/static/icons/logo.png">
 <title>Image not found</title>
</head>
<body>
 <nav>
  <div class="wrapper">
   <div class="branding shadow" style="--logo-size: 30px; --name-size: 78px; column-gap: 4px;" onclick="window.open('/', '_blank')">
    <img src="/static/icons/logo.png" alt="logo" class="logo glowing">
    <span style="font-size: 1.1em; font-weight: 500;">Images</span>
   </div>
  </div>
 </nav>
 <div class="preview-wrapper">
  <div class="not-found">Image not found</div>
 </div>
</body>
</html>